div {
  /* border: 1px solid grey; */
}

#log-site {
  font-size: xx-large;
  color: black;
}
.registration-box {
  margin: 2% 20%;
  padding: 3% 10%;
}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#welcome-text {
  color: white;
}
